body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #007bff;
}

h2 {
    color: #007bff;
    margin-top: 20px;
}

form {
    border: 1px solid #007bff;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

th, td {
    border: 1px solid #007bff;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.subtitulo {
    font-weight: bold;
    color: #007bff;
}

label {
    margin-right: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#radioButton {
    margin-right: 5px;
}